.root {
    -fx-background-color: seagreen;
}

/* Centramos los botones de Anterior y Siguiente */
.hbox-buttons {
    -fx-alignment: center; /* Centrar horizontalmente el HBox */
}

/* Centramos el temporizador, la baraja y el botón de iniciar juego */
.vbox-baraja {
    -fx-alignment: center; /* Centrar elementos en el VBox */
}

/* Estilo para el temporizador */
#lbltimer {
    -fx-font-size: 30px;
    -fx-text-alignment: center; /* Asegurar que el texto del timer esté centrado */
}

/* Estilo para el botón de iniciar juego */
#btnstart {
    -fx-alignment: center; /* Centrar el botón */
}
